body
{
    margin: 0px;
    animation: body .1s infinite;
    width: 100%;
    height: 667px;
}

@keyframes body
{
    0%
    {
        background-color: #F70000;
    }

    50%
    {
        background-color: #324F80;
    }

    100%
    {
        background-color:#F70000 ;
    }
}

@keyframes attention
{
    0%
    {
        color: #F70000;
    }

    50%
    {
        color: #09FE00 ;
    }

    100%
    {
        color:#F70000 ;
    }
}


#contenneur
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card
{
    border-radius: 0px 30px 0px 30px;
    margin: auto;
    width: 90%;
    height: 50vh;
    background-color: #9E9CC8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img
{
    border-radius: 30px 0px 30px 0px;
    position: relative;
    bottom: 30px;
    box-shadow: gray 10px 10px 15px;
    float: none;
}

h1
{
    animation: attention .5s infinite;
    position: relative;
    bottom: 20px;
}

#pres
{
    position: relative;
    bottom: 30px;
    text-align: center;
}

#bouton
{
    width: 330px;
    height: 100px;
    background-color: #1E3984;
    border-radius: 15px;
}

a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;

}

#lien
{
}